# Credenciales
.env
*.key
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# temporal
# *.csv
# *.parquet
# Ignorar videos
*.mp4
*.mov
*.mkv
